.entrada__toggleContainer {
    width: 100%;
    background-color: var(--bgTask);
    text-align: center;
    padding-top: 1rem;
}

.entrada__toggleImg {
    width: 2%;
    background-color: var(--bgTask);
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 2.5rem 0;
    /* margin: 4rem auto; */
    background-color: var(--bgTask);
}

.entrada__title {}

.entrada__container {
    display: flex;
    justify-content: center;
    align-items: center;

    /* margin: 1rem; */
    width: 100%;
}

.entrada__input {
    width: 35%;
    height: 35px;
}

.entrada__inputButton {
    margin: 1rem;
    background-color: var(--bgTask);
    cursor: pointer;
}

.entrada__inputImg {
    width: 52%;
}