.task__container {
    
    background-color: var(--bgTask);

    padding-top: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px dotted black;
}

.task__noData {
    width: 30%;
    margin: 3rem 35vw;
}

.task__containerContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin: 0 auto;

    text-align: center;
}

.task__buttonCheck, .task__buttonDelete {
    background-color: var(--bgTask);
    cursor: pointer;
}

.task__buttonCheckImg, .task__buttonDeleteImg {
    width: 50%;
}

.task__description {
    width: 50%;
}

.task__deadline {
    width: 35%;
}

/*  {} */