.task__container {
    background-color: var(--bgTask);
    margin-bottom: 3rem;

    padding: 1rem 0;
    border-bottom: 1px dotted black;
}

.task__containerContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin: 0 auto;

    text-align: center;
}

.task__buttonCheck, .task__buttonDelete {
    background-color: var(--bgTask);
    cursor: pointer;
}

.task__buttonCheckImg, .task__buttonDeleteImg {
    width: 50%;
}
/* 
.task__checkBox {
} */

.task__description {
    width: 50%;
}

.task__deadline {
    width: 35%;
}

/*  {} */